/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.loader {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.loader.is-active {
  display: flex;
}